.header {
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}

.header h1 {
    color: var(--yellow-400);
    font-size: 2.7rem;
}

.header span {
    color: var(--purple-400);
}